<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>App5</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>app5</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>

    <!-- CORE LOCATION - Cần thiết cho Background Location và Lock/Unlock Event -->
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập vị trí "Luôn luôn" để giám sát các sự kiện mở khóa màn hình và duy trì hoạt động trong nền khi có thay đổi vị trí đáng kể.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Ứng dụng cần vị trí để theo dõi trạng thái thiết bị khi đang sử dụng.</string>

    <!-- CORE MOTION - Cần thiết để theo dõi Gia tốc kế/Con quay hồi chuyển cho sự kiện Nghiêng (Tilt) -->
	<key>NSMotionUsageDescription</key>
	<string>Ứng dụng cần quyền truy cập chuyển động (gia tốc, con quay hồi chuyển) để theo dõi góc nghiêng của thiết bị và cung cấp các tính năng liên quan đến trạng thái thiết bị.</string>

    <!-- BACKGROUND MODE - Bật chế độ chạy nền (Location) -->
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>

</dict>
</plist>